body{
    background: #F8FAFC;
    }

.navbar{
    background:#F8FAFC;
    z-index: 10;
    width: 100%;
    border: none;
}

.navbar-brand{
    font-size: 30px !important;
    color: hotpink !important;;
}
.logo-image{
    width: 280px
}

.navbar-about, .navbar-products{
    font-size: 20px !important;
}

.search-button{
    border: 1px solid pink !important;
    background: pink !important;
    color: white !important;
}

.login, .register {
    background: pink;
    border-radius: 7px;
    font-size: 15px;
}

.logout-name{
    margin-top: 8px;
    padding-right: 15px;
    margin-left: 14px
}

.logout-button{
    border: none;
    background: pink;
    margin-top: 5px;
    border-radius: 4px;
}

@media only screen and (max-width: 950px) {
    body {
        background-color: lightblue;
    }
}